.header {
  position: relative;
  width: 100%;
  padding: 24px 0;
  z-index: 10;
  background-color: #f2f4f7;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  gap: 32px;
}

.navLink {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #101828;
}

.active {
  color: #0b44cd;
}
